@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan gaya khusus ISZI yang tidak ada di Tailwind di sini */
.page-container {
  @apply min-h-screen transition-all duration-300;
}

.hide {
  display: none;
}

.show {
  display: block;
}
